<!DOCTYPE html>
{% extends 'rerig/base.html' %}
{% load staticfiles %}

<html>
    {% block title_block %}
        About Rerig
    {% endblock %}
    
    <div>
    {% block header_block %}
        <h1 id="aboutUsHeading">About Rerig!</h1>
    {% endblock %}
    </div>

    {% block body_block %}
    <div style="width:600px; margin:0 auto; text-align: center" class="aboutSection">
        <p>Rerig was created for people which have built their own or bought their own computer and show it off to others in the form of posts. This website was made to inspire others to create their own computer
            or take inspiration from others, the comments system was created for others to critique the author's build by giving them advice on how to improve it and/or praise their build so the creator could feel
            fulfilled when showing off their build. The main page consists of only the most praised builds so the potential person that enters our website can admire only the best builds from the get go.
        </p>


    </div>
        

    {% endblock %}
</html>