<!DOCTYPE html>
{% extends 'rerig/base.html' %}
{% load staticfiles %}

<html>
    {% block title_block %}
        Account - {{ user.username }}
    {% endblock %}
    
    {% block header_block %}
        <h1>{{ user.username }}</h1>
    {% endblock %}

    {% block navbar_block %}
        <ul id="navbar">
            <img src="{% static 'images/Rerig.jpg' %}" alt="Rerig logo"/>
            <li><button id="homeButton" onclick="goHome()">Home</button></li>
            <li><button id="aboutButton" onclick="goToAbout()">About</button></a></li>
            <li><button id="searchButton" onclick="goToSearch()">Search</button></a></li>
            <li><p>This will hold profile picture eventually</p></li>
            <li><button id="addAPostButton" onclick="goToAddPost()">Add a new Post</button></li>
            <li><button id="logoutButton" onclick="logout()">Logout</button></li>
        </ul>
    {% endblock %}


    {% block body_block %}
        <p>This is the Account page.</p>


    {% endblock %}
</html>