<!DOCTYPE html>
{% extends 'rerig/base.html' %}
{% load staticfiles %}

<html>
    {% block title_block %}
        {{ user.username }}
    {% endblock %}

    {% block header_block %}
        <h1>{{ user.username }}</h1>
    {% endblock %}

    {% block navbar_block %}
        <ul id="navbar">
            <img src="{% static 'images/Rerig.jpg' %}" alt="Rerig logo"/>
            <li><button class="button1" id="homeButton" onclick="goHome()">Home</button></li>
            <li><button class="button1" id="aboutButton" onclick="goToAbout()">About</button></a></li>
            <li><button class="button1" id="searchButton" onclick="goToSearch()">Search</button></a></li>
            <li><img src="{{ MEDIA_URL }}{{ userProfile.picture }}" alt ="userPicture" /></li>
            <li><button class="button1" id="addAPostButton" onclick="goToAddPost()">Add a new Post</button></li>
            <li><button class="button1" id="logoutButton" onclick="logout()">Logout</button></li>
        </ul>
    {% endblock %}


    {% block body_block %}
        <p>This is the Account page.</p>


    {% endblock %}
</html>