<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <title id="base-title">
            {% block title_block %}
                Welcome to ReRig!
            {% endblock %}
        </title>

        <div>
            {% block header_block %}
                <h1>Welcome to Rerig!</h1>
            {% endblock %}

        </div>

        <div>
            {% block navbar_block %}
                <ul id="navbar">
                    <img src="{% static 'images/Rerig.jpg' %}" alt="Rerig logo"/>
                    <li><button id="homeButton" onclick="goHome()">Home</button></li>
                    <li><button id="aboutButton" onclick="goToAbout()">About</button></a></li>
                    <li><button id="searchButton" onclick="goToSearch()">Search</button></a></li>
                    
                    {% if user.is_authenticated %}
                        <li><button id="accountButton" value="{{ user.username }}" onclick="goToAccount(this.value)">{{ user.username }}</button></li>
                        <li><button id="logoutButton" onclick="logout()">Logout</button></li>
                    {% else %}
                        <li><button id="loginButton" onclick="goToLogin()">Login</button></li>
                        <li><button id="registerButton" onclick="register()">Register</button></li>
                    {% endif %}
                    
                </ul>
            {% endblock %}
        </div>
    </head>

    <body>
        <div>
            {% block body_block %}
            {% endblock %}
        </div>


        <script src="{% static 'js/rerigBase.js' %}" crossorigin="anonymous"></script>

    </body>

</html>