<!DOCTYPE html>
{% extends 'rerig/base.html' %}
{% load staticfiles %}

<!-- Since this extends the base.html file we don't want to touch the title or navbar here as the base version will suffice for the index page -->
{% block header_block %}
    <h1>Welcome to Rerig!</h1>
{% endblock %}


{% block body_block %}

    <!-- photo carousel to go here -->

    <div id="Container">
        <h2>The most liked photos:</h2>
        <div id="carousel"> 
            {% if posts %}
                {% for post in posts %}
                    <div id="carousel-item"> 
                        <a href="/rerig/post/{{ post.id }}"><img src="{{ MEDIA_URL }}{{ post.picture }}" alt="post-picture" /></a>
                    </div>
                {% endfor %}
            {% else %}
                <strong>There are no posts present.</strong>
            {% endif %}
        </div>

        <!-- The viewMoreRigs function should redirect the search page-->
        <button class="button2" id="moreRigsButton" onclick="goToSearch()">More Rigs!</button>
    </div>

{% endblock %}
