<!DOCTYPE html>
{% extends 'rerig/base.html' %}
{% load staticfiles %}

<html>
    {% block title_block %}
       Login
    {% endblock %}
    
    {% block header_block %}
        <h1>Login!</h1>
    {% endblock %}

    {% block body_block %}
        <form id="login_form" method="post" action="{% url 'rerig:login' %}">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />
            <input id="submit-button" type="submit" value="submit" />
            <br />
            <p>Or click here to sign up:</p>
            <br />
            <a id="register-link" href="{% url 'rerig:register' %}">Register</a>
        </form>

    {% endblock %}
</html>