<!DOCTYPE html>
{% extends 'rerig/base.html' %}
{% load staticfiles %}

<html>
    {% block title_block %}

    {% endblock %}

    {% block header_block %}
        <h1>{{ post.title }}</h1>
    {% endblock %}

    {% block body_block %}
        <body>
        <div style="width:800px; margin:0 auto;">
            Average Rating:<br/>
            {{ post.averageRating }}<br/>
            Picture:<br/>

            <img src="{{ post.picture.url }}" alt=""> <br/><br/><br/>
             {{ post.category }} <br/><br/><br/>
            Description:<br/>
            {{ post.description }}<br/><br/><br/>
            Post date: {{ post.date}}<br/><br/><br/>


        </div>
        <div style="width:800px; margin:0 auto;">
            <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
	{{ review_form.as_p }}
	<input type="submit" value="Comment">
        </div>>
        </body>


    {% endblock %}
</html>