<!DOCTYPE html>
{% extends 'rerig/base.html' %}
{% load staticfiles %}

<html>
    {% block title_block %}

    {% endblock %}

    {% block header_block %}
        <h1>{{ post.title }}</h1>
    {% endblock %}

    {% block body_block %}
        <body>
        <div style="width:800px; margin:0 auto;">
        {{ post.category }} <br/><br/><br/>
            Picture:<br/>
            {{ post.picture }} <br/><br/><br/>
            Description:<br/>
            {{ post.description }}<br/><br/><br/>
            Post date: {{ post.date}}<br/><br/><br/>

            {{ post.averageRating }}<br/>
        </div>
        <div style="width:800px; margin:0 auto;">
            <textarea id="comment" name="comment"  rows="5" cols=35 placeholder="Please leave your comment:"></textarea>
        </div>>
        </body>


    {% endblock %}
</html>