<!DOCTYPE html>
{% extends 'rerig/base.html' %}
{% load staticfiles %}

<html>
    {% block title_block %}
       Register
    {% endblock %}
    
    {% block header_block %}
        <h1 class="oneWordHeadings">Register!</h1>
    {% endblock %}

    {% block body_block %}
        {% if registered %}
            <strong>thank you for registering!</strong>
            <a href="{% url 'rerig:index' %}">Return to the homepage.</a><br />
        {% else %}
            <strong>register here!</strong><br />
            <form id="user_form" method="post" action="{% url 'rerig:register' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}

            <input type="submit" name="submit" value="Register" />
            <p>Or click here to login:</p>
            <br />
            <a href="{% url 'rerig:login' %}">Login</a>
        </form>
        {% endif %}
    {% endblock %}
</html>