h1 {
    color: blueviolet;
    text-align:center;
}

a {
    color: inherit;
    text-decoration: inherit;
  }

h1,#logo{
    vertical-align: middle;
    display:inline-block;
    text-align:center;
}

#heading{
    position:relative;
    text-align:center;
}

#logo{
    right:20px;
}

#postImage{
    height:500px;
    width:500px;
}

#avatar{
    height: 100px;
    width: 100px;
    border-radius:50%;
}

#avatar2{
    height: 50px;
    width: 50px;
    border-radius:50%;
}

#postContainer{
    width:800px;
    margin:0 auto;
    text-align: center;
}

h2,#navbar,#Container{
    text-align: center;
}

#user_form{
    float:left;
}

ul > li {
    display: inline-block;
    list-style: none;
}

.navButtons {
    background-color: transparent;
    font-size: 20px;
    border: 0ch;
    padding-left:2vw;
    padding-right:2vw;
}

#searchButton{
    padding-left:4vw;
    padding-right:4vw;
}

.navButtons:hover {
    color: blueviolet;
}

#ProfilePicture{
    width:32px;
    height:32px;
    vertical-align:middle;
}

#addAPostButton{
    padding-right:0px;
}

body {
    background-color: beige;
}

#aboutSection{
    font-size:18px;
    padding-left:250px;
    padding-right:250px;
    padding-top:120px;
    width:600px;
    margin:0 auto;
    text-align: center;
}

.post-list-display{
    margin: auto;
    width: 500px;
}

.search-input-bar{
    width:85%;
    margin-left: 1%;
}

#loginContainer{
    width:800px;
    margin:0 auto;
    text-align: center;
}

#registerContainer{
    width:270px;
    margin:0 auto;
    text-align: center
}

.cleanfloat::after {
    display: block;
    clear: both;
    content: "";
    visibility: hidden;
    height: 0;
}


.post-title-text{
    text-align: center;
}

.post-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.post-username{
    display: inline-flex;
}
.post-starting{
    text-align: left;margin: 5px 15px;
}
.post-comment{
    margin: 50px;
}
.post-rating2{
    font-size: 30px; margin: 0px;
}
.post-rating1{
    display: inline-table;
}
.post-comment2{
    display: inline-flex ;
}
.post-review-profile{
    height: 50px;width: 50px;border-radius:50%;
}
.cleanfloat ul li {
    list-style: none;
    float: left;
    font-size: 30px;
    margin: 5px;
    color: #ccc;
    cursor: pointer;
}

.hs, .cs {
    color: #f00;
}

.post-container{
    cursor: pointer;
}

.post-container:hover{
    background-color: rgb(224, 224, 190);
}

.post-display-rating{
    text-align: center;
}