h1 {
    color: blueviolet;
    text-align:center;
}

h1,#logo{
    vertical-align: middle;
    display:inline-block;
    text-align:center;
}

#heading{
    position:relative;
    text-align:center;
}

#logo{
    right:20px;
}

#postImage{
    height:500px;
    width:500px;
}

h2,#navbar,#Container{
    text-align: center;
}

#user_form{
    float:left;
}

ul > li {
    display: inline-block;
    list-style: none;
}

.navButtons {
    background-color: transparent;
    font-size: 20px;
    border: 0ch;
    padding-left:2vw;
    padding-right:2vw;
}

#searchButton{
    padding-left:4vw;
    padding-right:4vw;
}

.navButtons:hover {
    color: blueviolet;
}

#ProfilePicture{
    width:32px;
    height:32px;
    vertical-align:middle;
}

#addAPostButton{
    padding-right:0px;
}

body {
    background-color: beige;
}

#aboutSection{
    font-size:18px;
    padding-left:250px;
    padding-right:250px;
    padding-top:120px;
    width:600px;
    margin:0 auto;
    text-align: center;
}

.search-post-list-display{
    margin: auto;
    width: 500px;
}

.search-input-bar{
    width:85%;
    margin-left: 1%;
}

.post-title-text{
    text-align: center;
}

.post-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#loginContainer{
    width:800px;
    margin:0 auto;
    text-align: center;
}

#registerContainer{
    width:270px;
    margin:0 auto;
    text-align: center
}